.new-arrival {
  .brand-list {
    position: relative;
    margin-bottom: 10px;
    .brand-count {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  a {
    margin-top: 10px;
    display: inline-block;
    font-size: 12px;
    text-decoration: underline;
  }
}
