p,
a {
  font-size: 14px;
}
$light-theme-color: #13548d;
$dark-theme-color: #4d96da;
$theme-secondary-color: #fd8f1f;
$white-color: #fff;

/* width */

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */

::-webkit-scrollbar-track {
  background: $dark-theme-color;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: $light-theme-color;

  &:hover {
    background: $theme-secondary-color;
  }
}

/* Handle on hover */

.overflow-page {
  overflow: hidden;
}

body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

/*Header css */

.section-heading {
  margin-bottom: 0px;
  text-align: left;

  h2 {
    font-size: 24px;
    display: inline-block;
    position: relative;
    color: $light-theme-color;
    font-weight: 700;

    &:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -15px;
      width: 65px;
      height: 3px;
      background: $theme-secondary-color;
    }
  }
}
